# API Keys
RAPID_API_KEY=
RAPID_API_HOST=
OPENAI_API_KEY=

# Google Cloud Configuration
GOOGLE_APPLICATION_CREDENTIALS=./creds/magiq-ai-fc9670291bfe.json
GOOGLE_CLOUD_PROJECT_ID=magiq-ai
GOOGLE_LOCATION=asia-southeast1
GCS_BUCKET_NAME=salesgpt-rag-documents

GEMINI_API_KEY=

# Server settings
PORT=3000

# ChromaDB
CHROMA_API_TOKEN=
CHROMA_TENANT=
CHROMA_DATABASE=

#Exa.ai
EXA_API_KEY=

# BackendAPI Configuration
ORGANIZATION_API_URL=
ORGANIZATION_API_TOKEN=

# Google Drive API credentials
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_API_KEY=

# Middleware 
API_KEY=